aiogram               
aiogram2                 
aiohttp                   
aiosignal             
APScheduler             
async-timeout           
attrs                  
Babel                      
beautifulsoup4         
bs4                    
cachetools            
certifi                
charset-normalizer    
frozenlist           
idna                
lxml                 
multidict           
mysql-connector-python 
protobuf               
pynput               
pyTelegramBotAPI       
pytz                 
pytz-deprecation-shim  
requests               
schedule              
six                  
soupsieve            
telebot               
tornado               
tzdata                
tzlocal               
urllib3               
yarl                
        
